<!DOCTYPE html>
<html ng-app="userApp">

<header>

  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css" />
  <script src="controllers/usercontroller.js"></script>

</header>
<body ng-controller="UserListController">
  <% include ../partials/nav.ejs %>

<!--
  <ul>
    <li ng-repeat="item in users">
      <span> {{item.user.name}} </span>
      <p> {{item.user.alias}} </p>
    </li>
  </ul>
-->
<ul class="media-list">
  <li ng-repeat="item in users" class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
    </div>
    <div class="media-body"> 
      <h4 class="media-heading">{{item.user.name}}</h4> 
      <p>
        {{item.user.alias}}
      </p>
    </div>
  </li>
</ul>

</body>
</html>
