<!DOCTYPE html>
<html ng-app="userApp">

<header>

  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css" />
  <script src="controllers/usercontroller.js"></script>

</header>
<body ng-controller="UserListController">
  <% include ../partials/nav.ejs %>

  <ul class="media-list">
    <li ng-repeat="item in users" class="media">
      <div class="media-left">
        <a href="{{ item.user.photo_profile_link }}">
          <img class="media-object img-responsive img-thumbnail" src=" {{ item.user.photo_profile_encodedstring !== null ? 'data:image; base64,' || item.user.photo_profile_encodedstring : '' }}" alt="Profile pic">
        </a>
      </div>
      <div > 
        <h4 class="media-heading">{{item.user.name}}</h4> 
        <p>
          {{item.user.alias}}
        </p>
      </div>
    </li>
  </ul>

</body>
</html>
