<!DOCTYPE html>
<html ng-app="userApp">
<header>

  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css" />
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/signin.css" />
  <script src="controllers/logincontroller.js"></script>

</header>

<body ng-controller="LoginController">
  <div class="container">

    <form class="form-signin">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="exampleInputEmail1" class="sr-only">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="userForm.email" required autofocus>

      <label for="exampleInputPassword1" class="sr-only">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="userForm.password" required >

      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
    </form>

  </div> <!-- /container -->
</body>
</html>
