<!DOCTYPE html>
<html ng-app="userApp">

<header>

  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css" />
  <script src="/controllers/profilecontroller.js"></script>

</header>

<body ng-controller="ProfileController">

  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ user.name }}</h3>
        </div>
        <div class="card-block">
          <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
              <img alt="User Pic" width="450" src="{{ 'data:image; base64,' + user.photo_profile }}" class="img-fluid"> 
            </div>
            <div class=" col-xs-12 col-sm-12 col-md-9 col-lg-9"> 
              <form class="form-signin" ng-submit="editUser()">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td >Email</td>
                      <td>
                        <input type="text" readonly="readonly" class="form-control"  id="inputEmail" placeholder="Email" ng-model="user.email">
                      </td>
                    </tr>
                    <tr>
                      <td style="vertical-align: middle">Name</td>
                      <td>
                        <input type="text" readonly="readonly" class="form-control editable"  id="inputName" placeholder="Name" ng-model="user.name" required >
                      </td>
                    </tr>
                    <tr>
                      <td style="vertical-align: middle">Alias</td>
                      <td>
                        <input type="text" readonly="readonly" class="form-control editable"  id="inputAlias" placeholder="Alias" ng-model="user.alias" required >
                      </td>
                    </tr>
                    <tr>
                      <td style="vertical-align: middle" > Sex </td>
                      <td >
                        <input type="text" readonly="readonly" class="form-control editable"  id="inputSex" placeholder="Sex" ng-model="user.sex" required >
                      </td>
                    </tr>

                  </tbody>
                </table>  
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12"> 
              <table class="table">
                <thead class="thead-default">
                  <tr>
                    <th> </th>
                    <th>Category</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="interest in user.interests">
                    <th scope="row">
                      <button type="button" class="pull-xs-left btn btn-sm btn-danger">
                        Remove
                      </button>
                    </th>
                    <td>{{ interest.category }}</td>
                    <td>{{ interest.value }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <a href="#" class="btn btn-primary">Add interest</a>
          </div>
          <div class="row" style="margin-top: 2%;margin-bottom: 2%">
            <button class="value-input btn btn-lg btn-primary btn-block" id="btnSubmit" type="submit" >Save changes</button>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" id="editUser" data-original-title="Edit this user" title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
            <span class="octicon octicon-pencil"></span>
          </a>
          <a data-original-title="Remove this user" title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger">
            <span class="octicon octicon-x"></span>
          </a>
        </div>
      </div>
    </div>

  </div> <!-- /container -->
</body>

<script type="text/javascript">
  $("#editUser").click(function () {
    $("#btnSubmit").show();
    $("form table tr td input.editable").prop('readonly','');
  });
  $(function () {
    $("#btnSubmit").hide();
  })
</script>

</html>