<!DOCTYPE html>
<html ng-app="userApp">

<header>

  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css" />
  <script src="/controllers/profilecontroller.js"></script>

</header>

<body ng-controller="ProfileController">

  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ user.name }}</h3>
        </div>
        <div class="card-block">
          <form class="form-signin" ng-submit="editUser()" >
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img alt="User Pic" width="450" src="{{ 'data:image; base64,' + user.photo_profile }}" class="figure-img img-fluid"> 
              </div>
            </div>
            <div class="row">
              <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12"> 

                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td >Email</td>
                      <td>
                        <input type="text" readonly="readonly" class="form-control"  id="inputEmail" placeholder="Email" ng-model="user.email">
                      </td>
                    </tr>
                    <tr>
                      <td style="vertical-align: middle">Name</td>
                      <td>
                        <input type="text" readonly="readonly" class="form-control editable"  id="inputName" placeholder="Name" ng-model="user.name" required >
                      </td>
                    </tr>
                    <tr>
                      <td style="vertical-align: middle">Alias</td>
                      <td>
                        <input type="text" readonly="readonly" class="form-control editable"  id="inputAlias" placeholder="Alias" ng-model="user.alias" required >
                      </td>
                    </tr>
                    <tr>
                      <td style="vertical-align: middle" > Sex </td>
                      <td >
                        <input type="text" readonly="readonly" class="form-control editable"  id="inputSex" placeholder="Sex" ng-model="user.sex" required >
                      </td>
                    </tr>
                  </tbody>
                </table>  

              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                <table class="table">
                  <thead class="thead-default">
                    <tr>
                      <th> </th>
                      <th>Category</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="interest in user.interests">
                      <th scope="row" style="visibility: hidden;">
                        <a href="#" ng-click="removeInterest($index)" class="pull-xs-left btn btn-sm btn-danger">
                          Remove
                        </a>
                      </th>
                      <td>{{ interest.category }}</td>
                      <td>{{ interest.value }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a href="#" style="visibility: hidden;" data-toggle="modal" data-target="#myModal" id="btnAddInterest" class="btn btn-primary">Add interest</a>
            </div>
            <div class="row" style="margin-top: 2%;margin-bottom: 2%">
              <button class="value-input btn btn-lg btn-primary btn-block" id="btnSubmit" type="submit" >Save changes</button>
              <button class="value-input btn btn-lg btn-primary btn-block" id="btnCancel" ng-click="cancelEdit()" >Cancel changes</button>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <a href="#" id="editUser" data-original-title="Edit this user" title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
            <span class="octicon octicon-pencil"></span>
          </a>
          <a data-original-title="Remove this user" title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger">
            <span class="octicon octicon-x"></span>
          </a>
        </div>
      </div>
    </div>

  </div> <!-- /container -->

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ selectedCategory != "" && (selectedCategory) || ("Select Category") }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownCategory">
                <li ng-repeat="category in categories">
                  <a ng-click="selectCategory(category)"> {{category}} </a>
                </li>
              </ul>
            </div>
          </p>
          <p>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownValue" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ selectedValue != "" && (selectedValue) || ("Select Value") }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownValue">
                <li ng-repeat="value in dictInterestsByCategory[selectedCategory]">
                  <a ng-click="selectValue(value)"> {{value}} </a>
                </li>
              </ul>
            </div>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="addInterest()">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</body>

<script type="text/javascript">
  $("#editUser").click(function () {
    $("#btnSubmit").show();
    $("#btnCancel").show();
    $("form table tr td input.editable").prop('readonly','');
    $("table tbody th").prop('style','');
    $("#fileInput").prop('style','');
    $("#btnAddInterest").prop('style','');
  });
  
  $("#btnCancel").click(function () {
    $("#btnSubmit").hide();
    $("#btnCancel").hide();
    $("form table tr td input.editable").prop('readonly','readonly');
    $("table tbody th").prop('style','visibility: hidden;');
    $("#fileInput").prop('style','visibility: hidden;');
    $("#btnAddInterest").prop('style','visibility: hidden;');
  });

  $("#myModal").on('hidden.bs.modal', function () {
      $("table tbody th").prop('style','');
  });

  $(function () {
    $("#btnSubmit").hide();
    $("#btnCancel").hide();
  })
</script>

</html>
